body {
    background: pink;
    font-family: Arial;
    text-align: center;;
  }

  <style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: pink;
  font-size: 25px; 
}

/* Style the header */
.header {
  background-color: pink;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: pink;
  color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container {
color: purple;
font-size: medium;
font-weight: bolder;
}
  